<div class="flex mx-2 px-2 my-1 flex-row justify-start gap-x-2 items-center rounded-md hover:bg-gray-200" >
    <div class="p-1">
        <img class="w-10 h-10 rounded-full" src="../../../../../assets/profile.jpg" />
    </div>
    <div class="flex flex-col justify-start items-start">
        <div class="text-sm font-semibold">John Doe</div>
        <div class="flex flex-row text-xs gap-x-1 font-normal">
            <div class="">Ziuta: Dlaczego </div>
            <div class="">| 4 min</div>
        </div>
    </div>
</div>