<div class="w-96 bg-gray-50 rounded-lg m-1 hover:bg-gray-200" style="position: relative;" [routerLink]="['/app/messages/'+ notification.chatId]">
    @if (!notification.isRead) {
    <div class="w-2 isReadIndicator bg-blue-600 h-2 rounded-full"></div>
    }
    <div class="flex flex-col gap-y-2 py-4">

        <div class="flex flex-row justify-start gap-x-4 pl-4 items-center bg-none">
            <img class="w-8 h-8 rounded-full" src="../../../../../assets/profile.jpg" />
            <div class="">
                <div class="font-semibold text-start">{{notification.chatName}}</div>
                <div [className]="[notification.isRead ? 'text-gray-600 font-normal' : 'text-black font-medium']">{{notification.sender}}: {{notification.message}} </div>
            </div>
        </div>

        
        <div class="flex flex-row pl-16 font-medium text-gray-400">
            <div class="">{{timeAgo(notification.timestamp)}}</div>
        </div>
    </div>
</div>