<div class="faceInCenter flex flex-col justify-start items-start rounded-md gap-y-2 p-3 bg-white">
    <div class="flex flex-row justify-between items-center w-full">
        <div class="">
            <!--<img class=""/>-->
            <a [routerLink]="['/app/tasks/' + task.id]" class="font-semibold text-sm">{{task.title}}</a>
        </div>
        <i class="w-5 h-5 flex items-center justify-center rounded text-base leading-4 text-center hover:bg-gray-200 bi bi-three-dots-vertical"></i>
    </div>
    @if(task.description)
    {
        <p class="text-gray-500 text-xs">{{task.description}}</p>
    }
    <div class="flex flex-row {{task.priority ? 'justify-between':'justify-end'}} items-center gap-x-2 w-full">
        @if(task.priority)
        {
            <app-tag [priority]="task.priority"></app-tag>
        }
        
        @if(task.deadline)
        {
            <div class="flex flex-row gap-x-1">
                <i class="text-gray-600 bi bi-calendar-event-fill"></i>
                <p class="text-gray-600">{{task.deadline | date:'shortDate'}}</p>
            </div>
        }
        

    </div>
</div>
