<div class="flex flex-row justify-between items-center bg-gray-50 p-2 mx-6">
    <div class="flex flex-row gap-2">
        <button class="bg-white rounded px-2 py-1 font-medium hover:bg-gray-200 border-2 border-black" (click)="today()">Today</button>
    </div>
    <div class="flex flex-row gap-4">
        <button class="rounded bg-white px-2 py-1 hover:bg-gray-200 border-2" (click)="previousDay()"><i class="bi bi-chevron-left"></i></button>
        <input #date type="date" class="rounded p-1 border-2 font-bold" [value]="currentDate | date:'yyyy-MM-dd'" (change)="newDateSelected.emit(date.valueAsDate!)" />
        <button class="rounded bg-white px-2 py-1 hover:bg-gray-200 border-2" (click)="nextDay()"><i class="bi bi-chevron-right"></i></button>
    </div>
    <div class="flex flex-row gap-2">
        <button class="bg-white rounded px-2 py-1 font-medium hover:bg-gray-200 border-2 border-black">Raport</button>
        <button class="bg-white rounded px-2 py-1 font-medium hover:bg-gray-200"><i class="bi bi-pencil-square"></i></button>
        <button class="bg-white rounded px-2 py-1 font-medium hover:bg-gray-200"><i class="bi bi-gear-fill"></i></button>
    </div>
</div>