<div class="w-full flex flex-col gap-4">
    <div class="text-2xl font-semibold flex flex-row justify-between">
        <div class="">Profile Settings</div>
        
    </div>
    <div class="bg-white rounded-lg px-2 py-2 w-full">
        <div class="text-base font-normal flex flex-row justify-between">
            <div class="">General</div>
            <i class="hover:bg-gray-200 rounded px-1 w bi bi-chevron-down"></i>
        </div>
    </div>
    <div class="bg-white rounded-lg px-2 py-2">
        <div class="text-base font-normal flex flex-row justify-between">
            <div class="">Notifications</div>
            <i class="hover:bg-gray-200 rounded px-1 w bi bi-chevron-down"></i>
        </div>
    </div>
</div>