<div class="flex flex-row m-5">
  <div class="card w-80 p-2 bg-gray-50 rounded-md">
    <div class="flex justify-between px-1 items-center">
      <div class="font-medium text-lg">Favourites</div>
      <div class="font-medium text-lg  hover:-translate-y-1 hover:transition hover:duration-150 transition duration-100"><i class="bi bi-pin-fill"></i></div>

    </div>
    <div class="flex p-2 flex-col justify-center gap-y-2">
        @for (resource of resources; track $index) {
            <app-favourits-card [resource]="resource"></app-favourits-card>
        }
    </div>

    
  </div>

</div>

